{% extends "base.html" %}

{% block content %}
<h2 class="pink">Questionnaire list</h2>

<button class="btn btn-primary " onclick="location.href='{% url 'questionnaire-create' %}'">
    Add New Questionnaire</button>
{% if questionnaire_list %}
    {% csrf_token %}


    <table class="table table-striped">
        <tbody>
            {% for questionnaire in questionnaire_list %}

            <tr>
                <th scope="row"></th>
                <td><a class="text-break" href="{{ questionnaire.get_absolute_url }}">{{ questionnaire.title}}</a></td>
                <td><button class="btn btn-outline-danger btn-sm"
                        onclick="location.href='{% url 'questionnaire-remove' pk=questionnaire.pk %}'">
                        Remove</button>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <br>
{% else %}
<p>There are no questionnaires from this user .</p>
{% endif %}

{% endblock %}